<form method="post" action="addnos">
    <h2> addition of numbers</h2>
    Enter fst numbet: <input type="text" name="no1" value="@ViewData["no1"]" /> <br />
    Enter 2nd number: <input type="text" name="no2" value="@ViewData["no2" ]"/> <br />

   
    <input type="submit" value="Add" /><br />
    sum of 2nos: <input type =" text" name="sum" value= "@ViewData["sum"]" /> <br />

</form>