
<form method="post" action="loginview">
    <h2> customer details</h2>
    Enter cusername: <input type="texuname" name="txtusername" /> <br />
    Enter cpassword: <input type="texpword" name="txtpassword" /> <br />
    <input type="submit" value="login" />
    <label> @ViewData["res"]</label>

</form>