<form method="post" action="form1">
    enter fname: <input type="text" name="t1" /> <br />
    enter lname: <input type="text" name="t2" /> <br />
    fresher ?:<input type ="checkbox" name="chk1" /> <br/>
    <input type ="submit" value="submit" />
</form>

<strong>
    fname:@ViewData["fname"] <br />
    lname:@ViewData["lname"] <br />
    work experiance:@ViewData["workexp"]
</strong>